<table>
  <thead>
    <th>Date</th>
    <th>New Cases (NZ)</th>
    <th>New Cases (Canterbury)</th>
  </thead>
  <tbody>
    <% @daily_reports.each do |daily_report| %>
      <tr>
        <td><%= daily_report.date %></td>
        <td><%= daily_report.count %></td>
        <td><%= daily_report.canterbury_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<h1>New Cases (NZ)</h1>
<%= line_chart DailyReport.group(:date).maximum(:count)%>
<br/>
<h1>New Cases (Canterbury)</h1>
<%= line_chart DailyReport.group(:date).maximum(:canterbury_count)%>
<br/>
<h1>Report Times (Total: <%= DailyReport.count %>)</h1>
<%= column_chart DailyReport.connection.execute(
      <<-SQL.chomp
        with minutes as
          (select * from generate_series(0, 59))
        select generate_series as minute, count(reports.id) from minutes
        left join daily_reports reports on date_part('minute', reports.created_at) = minutes.generate_series
        group by minutes.generate_series
      SQL
    )
    .to_h { |r| [r['minute'], r['count']] },
    xtitle: 'Minute',
    ytitle: 'Count'
%>
